.container__error{ 
    text-align: center;
    color: var(--color-primary);
}
h1{ 
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    margin: 0;
}
h3{ 
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 182px;
    margin-top: 0;
}
.container__error p{ 
    text-decoration: underline;
    font-size: 18px;
}