.container__card{ 
    max-width: 340px;
    padding-top: 56px;
    cursor:pointer;
}
.container__card-image{ 
    cursor:pointer;
    background-size: cover !important;
    width: 340px;
    height: 340px;
    border-radius:var(--border-rounded-m);
}

.container__card-title{
    position: absolute;
    padding: 0 2em;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    width: 200px;
    height: 310px;
    align-items: flex-end;
    display: flex;
}
.container__cards{ 
    margin-top:3em;
    border-radius: var(--border-rounded);
    background-color:#f7f7f7;
    padding-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
 }
 