.container__fiche-logement{ margin-bottom: 4em !important; max-width: 1240px; margin: auto; min-height: 100vh; }
.wrapper-collapse{ width: 582px;}
.container__collapses{ display: flex; flex-direction: row; justify-content:space-between; }

@media only screen and (max-width: 1420px) { .wrapper-collapse{ width: 48%;} }
@media only screen and (max-width: 738px) { .container__collapses{ flex-direction: column;}  .wrapper-collapse{ width: 100%;} .main__collapse{ margin: 0 !important; padding: 0 !important; height: 30px;}
    .wrapper-collapse .main__collapse{ margin: 0; padding: 0;}
    .collpase-wrapper .arrow__collapse{ left: 75%; }
}