.container__fiche-logement{ 
    margin-bottom: 4em !important;
    max-width: 1240px;
    margin: auto;
    min-height: 100vh;
}
.wrapper-collapse{ width: 582px;}
.container__collapses{ 
    display: flex;
    flex-direction: row; 
    justify-content:space-between;
}

@media only screen and (max-width: 1420px) {
    .wrapper-collapse{ width: 48%;}
   }