
.header__container{
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
}

.container__nav{ 
    float: right;
    width: 100%;
    margin: auto;
}

.nav--list{ 
    list-style: none; 
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    justify-content: flex-end;
}

.nav--item{
    text-decoration: none;
    margin-left: 4rem;
 }

 a{ 
    text-decoration :none ;
    color: var(--color-primary);
    font-weight: 600;
}