.container__footer{ 
    width: 100%;
    background-color:black;
    /* position: fixed;  */
    bottom: 0;
    height: 209px;
}

.container__footer-logo{ padding-top: 66px;}
.container__footer-logo svg{ 
    /* margin: auto;
    padding-top: 2rem; */
    width: 100%;
    padding: 3px 0;
    margin-bottom: 29px;
}
.container__footer-copyright{ 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 142.6%;
}
.container__footer-copyright p{ 
    align-items: flex-end;
    text-align: center; 
}
/* 
position: absolute;
left: 32.15%;
right: 32.22%;
top: 64.11%;
bottom: 13.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

