.container__header{ 
    font-family: 'Montserrat';
    font-style: normal;
    color: var(--color-primary);
}
.container__header-firstLine{ 
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
}

.container__stars{ text-align: right; margin: 0.5rem 0 !important; }
.container__stars svg{ margin-right: 10px; }
.container__header-firstLine h2{ font-weight: 500; font-size: 36px; }

.container__header-firstLine h5{ 
    font-weight: 500 !important;
    font-size: 18px !important;
    padding-top: 0.5rem;
}

.container__header-firstLine h4{ 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.author-picture{ 
    min-height: 64px;
    min-width: 64px;
    background-position: center !important;
    border-radius:50%;
}

.right{ float: right; width: 40%;}
.left{ width: 60%;}

.right h4{
    display: flex;
    align-items: flex-end;
    width: 150px;
    word-spacing:150px;
    padding-right:10px;
    margin: auto 0 auto auto !important;
}
.container__tags{ margin-top: 20px !important; display: flex;}
.tags{ 
    background: var(--color-primary);
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: var(--border-rounded-m);
    margin-right: 10px !important;
    line-height: 142.6%;
    text-align: center;
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    padding: 0 7.5px;
    height: 25px;
}

.author-props{ 
    display: flex;
    align-items: flex-end;
    text-align: right;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
}

.left *, .right *{ margin: 0; }


@media only screen and (max-width: 738px) {
    .container__header-firstLine{ flex-direction: column;}
    .left, .right{ width: 100%;}
    .right{ flex-direction: row; display: flex; padding-top: 18px;}
    .container__stars{ order: 1; width: 100%; display: flex;}
    .author-props{float: right;order:2;display: flex;}
    .container__header-firstLine h2{ font-size: 18px ; }
    .container__header-firstLine h5{ font-size: 14px ; }
    .container__tags .tags{ font-size: 10px; padding: 0 5px; height: 20px;}
    .author-props h4{ font-weight: 500; font-size: 12px; line-height: 142.6%;}
    .author-picture{ min-width: 60px; min-height: 60px;}
    .right h4{ width: 60px; word-spacing:60px; }
}

