.container__banner{ 
    width: 100%;
    height: 223px;
    position: relative;
}
.background-banner{ 
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #000000;
    opacity: 0.3;
    position: absolute;
}
.container__banner img{ border-radius: 25px; }

.text-over-img{ 
    margin: 0 !important;
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1420px) {
    .container__banner img{ width:100%; height: 223px; object-fit: cover;}
    .background-banner{ width: 100%;}
    .text-over-img{ font-size:36px }
}
@media (max-width: 738px){ 
    /* custom css for home banner */
    .container__banner.banner-home{ height: 111px;}
    .banner-home .text-over-img{ font-size: 24px; max-width: 50%; padding-left: 1rem; line-height: 100%;}
    .banner-home.container__banner img{width: 100% ;height: 70% ;min-width: 335px; min-height: 111px; }

    .container__banner img{ border-radius: 10px;}
    .background-banner{ border-radius: 10px;}
}